.flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  text-align: center;
  color: white;
  font-weight: bold;
}

